{% extends 'cvinterface/base.html' %}
{% load static %}

{% block body %}
    <section class="introduction">
        <header>
            <h2 align="center">Master Controlled Vocabulary Registry for the<br>Water Management Data Model (WaMDaM)</h2>
        </header>

        <div class="column three-columns">
            <p>
            This online moderated registry aims to promote consistent terminology (i.e., Controlled Vocabularies-(CVs)) to describe water system components and their attributes across datasets, models, and users, while still retaining the native terms. Registering your model's native terms against these CVs will allow you to relate, query, and compare all of your water management data within a single database. Click at the tables below to view the CV terms. Scroll to the bottom for more info on how to the registry works.			
            </p><br>
            <div id="moderators">
                <div class="moderator">
                    <span class="data">Adel Abdallah, PhD Candidate</span>
                    <span class="data secondary">Utah State University</span>
                    <span class="data secondary"><a href="mailto:amabdallah@aggiemail.usu.edu">amabdallah@aggiemail.usu.edu</a></span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>

    <section class="list">
        <header>
            <h2>Controlled Vocabularies</h2>
        </header>
        {% for vocabulary in vocabulary_views %}
            <div class="list-item column three-columns">
                <div class="list-title whole-spaced-title"><a href="{{ vocabulary.url }}"><h3>{{ vocabulary.name }}</h3></a></div>
                <div class="list-description whole-spaced-description"><p>{{ vocabulary.definition }}</p></div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </section>
	
    <section class="conclusion">
          <header>
            <br>
            <h2> How does it work to add new terms to the WaMDaM CVs? </h2>
        </header>
        <div class="column three-columns">
           <p>
In this registry, you may view and download existing controlled vocabularies for each table in WaMDaM or submit new terms to be added to the registry. Click on each vocabulary table below. The "Download" button will provide a CSV file of the entire vocabulary table. The "New" button allows you to submit a request to add a new term, after which you will receive a confirmation email. The registry moderator will approve or rejects the submitted term, and afterward, the term will become part of the registry and be available to the public.
           </p><br>
           <img src="{% static "images/how-it-works-1.png" %}" alt"add-new-terms" style="display: block; width: 100%;">
        </div>
        <div class="clear"></div>
        </section>
        <section class="conclusion">
          <header>
            <br>
            <h2> How to use WaMDaM CVs? </h2>
        </header>
        <div class="column three-columns">
           <p>
The WaMDaM Wizard (download it from wamdam.org) reads water management datasets that are prepared into the WaMDaM Excel Workbook template. In the “HomePage” tab in the Workbook, the button "Update Controlled Vocabulary" calls this entire repository and updates the "ControlledVocabulary" tab. The “ControlledVocabulary" tab lists the "name" field in each table as a CV term. Then you may use the CV terms through built-in look-up menus to help you register or relate your native terms to the controlled terms. Next, when you use the WaMDaM Wizard to load your prepared input data in the Workbook, the Wizard seamlessly calls this registry and downloads or updates all the content in your local SQLite database. Finally, all the datasets that have native terms registered against these CVs will be related together for querying and comparisons.
           </p><br>
           <img src="{% static "images/how-it-works-2.png" %}" alt"add-new-terms" style="display: block; width: 100%;">
        </div>
        <div class="clear"></div>
        </section>
        <section class="conclusion">
          <header>
            <br>
            <h2> Credit and source code </h2>
        </header>
        <div class="column three-columns">
           <p>
I adapted the design of this registry from the source code of the ODM2 ControlledVocabularies available on GitHub @ <a href="https://github.com/ODM2/ODM2ControlledVocabularies">https://github.com/ODM2/ODM2ControlledVocabularies</a>. Thanks to Dr. Jeff Horsburgh and the ODM2 team for promoting #OpenScience by publishing their source code.
           </p><br>
           <p>
This server of the WaMDaM registry is deployed on Amazon Web Services (AWS) thanks to AWS Educate for their support. The adapted source code is available on GitHub @ <a href="https://github.com/amabdallah/WaMDaMControlledVocabularies">https://github.com/amabdallah/WaMDaMControlledVocabularies</a>. The adapted source code include detailed instructions on the changes made to the original repository and how to deploy, access, and populate the repository on Amazon Web Services.
           </p>
            <br>
        </div>
        <div class="clear"></div>
        </section>

{% endblock %}

